<div class="container form-container">
  <form *ngIf="!isEmailValid && showForm" class="form-recover-psw col-md-6 col-md-offset-3" [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="instruction">
      <h2 class="form-recover-psw-heading">pwdreset_reset_password</h2>
      <h4>pwdreset_instructions</h4>
    </div>
    <label>pwdreset_placeholder_email</label>
    <input type="email" formControlName="email" id="inputEmail" name="email" (keyup)="_removeShowError()" [ngClass]="{error: _showError && myForm.controls['email'].errors }">
    <label for="inputEmail" *ngIf="_showError && myForm.controls['email'].errors" class="error-message">email_sent_to_update_pwd_error</label>
    <br>
    <div class="submit-wrapper">
      <button type="submit" class="form-submit col-lg-12 col-md-12 col-sm-12 col-xs-12" [disabled]="!myForm.valid" >pwdreset_button</button>
    </div>
  </form>
  <div class="successMessage" *ngIf="isEmailValid">
    <i class="icon-Send-Mail1"></i>
    <br>
    <h2>email_sent_to_update_pwd</h2>
  </div>
</div>
