<div class="container form-container">
  <form *ngIf="!isChangeSuccessful && showForm" class="form-reset-psw col-md-8 col-md-offset-2" [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="instruction">
      <h2 class="form-reset-psw-heading">sendnewpwd_title</h2>
    </div>
    <label>sendnewpwd_placeholder_password</label>
    <input type="password" id="inputPassword"  [(ngModel)]="_password" (keyup)="evaluateStrength(_password)" (ngModelChange)="_checkConfirmedPassword($event)"  formControlName="password" [ngClass]="{error: myForm.controls['password'].errors && !myForm.controls['password'].pristine}">
    <label *ngIf="_showError" class="error-message">sendnewpwd_error_password_type</label>
    <div class="passwordStrength" *ngIf="!_showError && _password.length >= _passwordHelper.MIN_CHARS && _password.length <= _passwordHelper.MAX_CHARS">
      sendnewpwd_password_strength
      <span class="weak" *ngIf="_strength === passwordStrength.Weak">
        password_strength_weak
      </span>
      <span class="medium" *ngIf="_strength === passwordStrength.Medium">
        password_strength_medium
      </span>
      <span class="strong" *ngIf="_strength === passwordStrength.Strong">
        password_strength_strong
      </span>
    </div>
    <div *ngIf="!_showError">
      <span *ngIf="_password.length < _passwordHelper.MIN_CHARS">
        password_error_atleast {{_password.length}} password_characters.
      </span>
      <span *ngIf="_password.length > _passwordHelper.MAX_CHARS">
        password_error_nomorethan {{_password.length}} password_characters.
      </span>
    </div>
    <br>
    <label>sendnewpwd_label_confirm</label>
    <input type="password" id="inputConfirmedPassword" [(ngModel)]="_confirmedPassword" (ngModelChange)="_checkConfirmedPassword($event)" formControlName="confirmed_password" [ngClass]="{error: myForm.controls['confirmed_password'].errors && !myForm.controls['confirmed_password'].pristine}">
    <br>
    <div class="submit-wrapper">
      <button type="submit" class="form-submit col-lg-12 col-md-12 col-sm-12 col-xs-12" [disabled]="!_isFormCorrect" type="submit">
        sendnewpwd_submit
      </button>
    </div>
  </form>
  <div class="successMessage" *ngIf="isChangeSuccessful">
    <a routerLink="/login">
      <i class="icon-Key-2"></i>
      <br>
      <h2>sendnewpwd_successful</h2>
    </a>
  </div>
</div>
