<div class="container form-container">
  <!--<div class="col-md-5 socials-wrapper visible-lg visible-md">
    <a class="socials btn-social btn-facebook col-md-12" href="/signin/facebook">
      <span class="icon-Facebook-1"></span> login_facebook
    </a>
    <a class="socials btn-social btn-twitter col-md-12" href="/signin/twitter">
      <span class="icon-Twitter-1"></span> login_twitter
    </a>
    <a class="socials btn-social btn-google col-md-12" href="/signin/google">
      <span class="icon-Google-"></span> login_google
    </a>
    <a class="socials btn-social btn-linkedin col-md-12" href="/signin/linkedin">
      <span class="icon-Linkedin"></span> login_linkedin
    </a>
  </div>-->
  <form class="form-signin col-md-offset-3 col-md-6" *ngIf="!isEmailValid && showForm" [formGroup]="myForm" (ngSubmit)="signIn($event)" >
    <div class="instruction">
      <h2 class="form-reset-psw-heading">login_title_form</h2>
    </div>

    <fieldset class="row">
      <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <label for="inputEmail">login_email</label>
        <input type="email" formControlName="email"  name="email" autofocus (keyup)="_removeShowError()" [ngClass]="{error: _showError && myForm.controls['email'].errors}">
      </div>
    </fieldset>  <!--/end of fieldset -->
    <fieldset class="row" *ngIf="_showError && myForm.controls['email'].errors">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span class="form-error" >login_error</span>
      </div>
    </fieldset>

    <fieldset class="row">
      <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <label class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-left" for="inputPassword">login_password</label>
        <input type="password" formControlName="password" name="password" [ngClass]="{error: myForm.controls['password'].errors && !myForm.controls['password'].pristine}">
        <label class="pull-right forgot-password">
          <a routerLink="{{_routerHelper.getUrl(_routerHelper.PASSWORD_RESET)}}">login_forgotpassword</a>
        </label>
      </div>
    </fieldset> <!--/end of fieldset -->

      <!--
  <div class="pull-left">
  <input id="remember-me" type="checkbox" value="remember-me">
  <label for="remember-me" >
  <span></span>
  login_rememberme
  </label>
  </div>
  -->
    <button type="submit" class="form-submit col-lg-12 col-md-12 col-sm-12 col-xs-12" [disabled]="!myForm.valid">login_withmail</button>
    <div class="to-signup">
      <a href="{{_routerHelper.getUrl(_routerHelper.EDITOR)}}">login_tosignup</a>
    </div>
  </form> <!--/end of form -->

  <!--<div class="col-sm-12 col-xs-12 visible-sm visible-xs socials-wrapper">
    <a class="socials btn-social btn-facebook col-xs-12 col-sm-12" href="/signin/facebook">
      <span class="icon-Facebook-1"></span> login_facebook
    </a>
    <a class="socials btn-social btn-twitter col-xs-12 col-sm-12" href="/signin/twitter">
      <span class="icon-Twitter-1"></span> login_twitter
    </a>
    <a class="socials btn-social btn-google col-xs-12 col-sm-12" href="/signin/google">
      <span class="icon-Google-"></span> login_google
    </a>
    <a class="socials btn-social btn-linkedin col-xs-12 col-sm-12" href="/signin/linkedin">
      <span class="icon-Linkedin"></span> login_linkedin
    </a>
  </div>-->
</div>
